*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
**/build/
**/Build/
**/BUILD/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/Makefile